{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <div class= "container-fluid" >
        <img src="{% static 'blog/MSAYZ.jpg' %}" class="card-img-top" width ="500px" height ="500px" alt="...">
        <div class="card-body">
            <h5 class="card-title">Welcome to the Mandarin Speakers Association and Chinese School Web site </h5>
            <p class="card-text">NW Chinese School formed in 2009, provide Chinese cultural and language teaching, consulting. Also Four level language, dance, painting, martial art class
</p>
            <a href="{% url 'about' %}" class="btn btn-primary" >Contact Us ?</a>
        </div>
    </div>

{% endblock content %}

